@function pxtopercent($target, $parent: 1170) {
  @return percentage($target / $parent);
}

@mixin scrollbar($width, $color) {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset $width * 2 0 0 $color;
  }
}
