%default-btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

%icon {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

%square-icon {
  width: 13px;
  height: 13px;
  background-color: $blueD1;
  box-shadow: inset 0 0 0 2.5px #fff;
  border: 1px solid $greyD2;
}

%line {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba($white, 0.5);

  @media only screen  and (max-width : 767px) {
    display: none;
  }
}
