// Redefine styles of dropdown
$dropBorderColor: $greyD1;
$dropTextColor: $greyD2;
$dropFontSize: 14px;
$dropMin-width: 230px;
$dropFontWeight: 500;
$dropArrowPath: icon-font/dropdown-icon;
$dropArrowWidth: 10px;
$dropArrowHeight: 8px;
$dropArrowPosition: 10px;
