.advantages {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  &__item {
    &:nth-child(odd) {
      .advantages__text:nth-child(even) {
        font-weight: bold;
      }
    }

    &:nth-child(even) {
      .advantages__text:nth-child(odd) {
        font-weight: bold;
      }
    }

    &:nth-child(1) {
      .advantages__icon:after {
        content: '1'
      }
    }

    &:nth-child(2) {
      .advantages__icon:after {
        content: '2'
      }
    }

    &:nth-child(3) {
      .advantages__icon:after {
        content: '3'
      }
    }
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }
  &__icon {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 35px auto;
    color: $blueD1;

    &:after {
      position: absolute;
      top: 5px;
      left: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: $blue;
      border-radius: 50%;
      color: #fff;
      border: 5px solid #fff;
    }

    &:before {
      display: inline-block;
    }

    &.icon {
      &--diagram {
        &:before {
          font-size: 84px;
        }
      }

      &--telegrams {
        &:before {
          font-size: 70px;
        }
      }

      &--wallet-alt {
        &:before {
          font-size: 87px;
        }
      }
    }
  }

  &__caption {
    width: 100%;
    padding: 20px 0 30px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  }
  &__text {
    display: block;
    line-height: 27px;
    text-align: justify;
    @media screen and (max-width: 768px) {
      text-align: left;
    }
  }
}

