.bonus {
  padding: 80px 0;

  &__content {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--padded {
      margin-top: 20px;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &-table {
    padding: 20px 0;
    font-weight: bold;

    &__title {
      margin: 0 0 20px 0;
      text-transform: uppercase;
    }

    &__body {
      display: flex;
    }

    &__col {
      position: relative;
      flex: 1;
      text-align: right;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &--head {
        max-width: 115px;
        text-align: left;
      }
    }
    &__cell {
      padding: 10px 0;

      &--bordered {
        border-bottom: 3px solid $grey;
      }

      &--colored {
        color: $blueL4;
      }
    }

    &__progress {  
      display: none;
      position: absolute;
      border-left: 3px solid $blue;
      width: 10px;
      top: 0;
      left: 0;
      transform: translateX(-3px);

      &--in {
        &:after {
          @extend %square-icon;
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          display: block;
          width: 10px;
          height: 10px;
          transform: translate(-50%, 50%);
        }
      }
    }
  }
}

@media only screen  and (max-width : 767px) {
  .bonus {
    padding: 30px 0;
  }
  .bonus-table {

    &__progress {
      display: block;
    }

    &__body {
      flex-direction: column;
    }

    &__col {
      padding: 10px 20px;
      text-align: left;
      border-left: 3px solid $grey;

      &:not(:last-child) {
        margin:  0 0 10px 0;
      }

      &--head {
        display: none;
      }
    }

    &__cell {
      padding: 0;
      border: none;

      &:first-child {
        padding-bottom: 5px;
      }
    }

    &__caption {
      padding-right: 5px;
      font-weight: normal;
    }

    .main-caption--colored {
      color: $orange;
    }
  }
}
