// _iconfont__variables.scss

$icon-anycash-logo: "\EA01" !default;

$icon-arrow-down: "\EA02" !default;

$icon-arrow-large: "\EA03" !default;

$icon-arrow-lg: "\EA04" !default;

$icon-arrow: "\EA05" !default;

$icon-back: "\EA06" !default;

$icon-balance-in: "\EA07" !default;

$icon-camera: "\EA08" !default;

$icon-checkbox-checked: "\EA09" !default;

$icon-diagram: "\EA0A" !default;

$icon-drop-in: "\EA0B" !default;

$icon-dropdown-icon: "\EA0C" !default;

$icon-email-large: "\EA0D" !default;

$icon-eraser: "\EA0E" !default;

$icon-facebook: "\EA0F" !default;

$icon-faq: "\EA10" !default;

$icon-google-plus: "\EA11" !default;

$icon-img-holder: "\EA12" !default;

$icon-left-arrow: "\EA13" !default;

$icon-list: "\EA14" !default;

$icon-logo-white: "\EA15" !default;

$icon-mail: "\EA16" !default;

$icon-next: "\EA17" !default;

$icon-operator: "\EA18" !default;

$icon-pencil: "\EA19" !default;

$icon-plus: "\EA1A" !default;

$icon-portmone: "\EA1B" !default;

$icon-prev: "\EA1C" !default;

$icon-right: "\EA1D" !default;

$icon-telegram: "\EA1E" !default;

$icon-telegrams: "\EA1F" !default;

$icon-twitter: "\EA20" !default;

$icon-user: "\EA21" !default;

$icon-video-holder: "\EA22" !default;

$icon-vk: "\EA23" !default;

$icon-wallet-alt: "\EA24" !default;

$icon-wallet: "\EA25" !default;