.popup-title {
	font-weight: 400;
}

.popup-form {
	&__item {
		display: block;

		&:not(:last-child) {
			margin-bottom: 25px;
		}

		&--flex {
			@include flex(flex-start, space-between);
			flex-wrap: wrap;
		}
	}

	&__input {
		width: 100%;
	}

	&__link,
	&__checkbox {
		margin-top: 10px;
	}

	&__checkbox {
		font-weight: 500;
	}
}

.popup-prime {
	.popup__footer {
		@include flex-c;
	}

	&__btn {
		margin-bottom: 30px;
	}
}

.popup-feed {
	.popup {
		max-width: 450px;
	}
}
