.header {
  padding: 23px 0;
  .container--flex {
    justify-content: space-between;
  }

  &-nav {
    z-index: 3;
    &__link {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  &--secondary {
    border-bottom: 1px dashed $white;
    color: $white;

    .header-nav {
      display: none;
    }
    .btn-login,
    .btn-login:before,
    .header-nav__link,
    .logo {
      color: $white;
    }

    .btn-menu {
      &__item {
        background-color: $white;
      }
    }
  }

  @media only screen  and (max-width : 880px) {
    &-nav__link {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
  @media only screen  and (max-width : 767px) {
    position: relative;
    
    .container--flex {
      justify-content: space-between;
    }

    &-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: 0;
      margin: 0;
      padding: 0 30px;
      overflow: hidden;
      transform: translate(0, 100%);
      transition: max-height .3s, padding .3s;
      background-color: #fff;
      &__link {
        &:not(:last-child) {
          margin: 0;
        }
      }
    }

    &--secondary {
      .header-nav {
        display: flex;
        background-color: transparent;

        &__link {
          color: $white;
        }
      }
    }
  }
}

.logo {
  color: $blueD1;
  &__link {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    padding-left: 43px;
    color: inherit;

    &:before {
      font-family: $font-name;
      content: $icon-anycash-logo;
      @include centY;
      left: 0;
      font-size: 27px;
    }
    span {
      font-weight: 300;
    }
  }
}
