.application {
  &__text {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
  }
}

.application-slider {
  margin-top: 80px;

  .VueCarousel-navigation {
    .VueCarousel-navigation-button {
      top: 40%;
    }  
  }

  &__slide {
    max-width: 240px;
    margin: 0 20px;

    &:first-child {
      margin-left: 30px;
    }
  }

  &__content {
    max-width: 240px;
    text-align: center;
  }

  &__avatar {
    height: 150px;
    border: 1px solid $grey;
  }

  &__caption {
    display: inline-block;
    margin-top: 30px;
  }
}
