.floating {
  &-enter,
  &-leave-to {
    transform: translateY(-100%);
  }
  &-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0 30px 0;
    background-image: linear-gradient(to bottom, $white 70%, transparent);
    transition: transform .3s;
    z-index: 5;

    &__button {
      display: none;
      background-color: $blue;
      position: fixed;
      width: 65px;
      height: 65px;
      right: 30px;
      bottom: 30px;
      border-radius: 50%;
      text-transform: uppercase;
      color: $white;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      line-height: 65px;
      z-index: 20;
      @media screen and (max-width: 767px){
        display: block;
        &:after {
          font-family: $font-name;
          content: $icon-logo-white;
          font-size: 40px;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: $white;
          opacity: .3;
        }
      }
    }
    @media screen and (max-width: 767px) {
      padding: 0;
      .wrapper {
        display: none;
      }
    }

    @media only screen  and (max-width : 1140px) {
      font-size: 12px;
    }
  }
  &-nav {
    display: flex;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      width: calc(100% - 52px);
      border-top: 1px solid #e9e9e9;
    }
    &__item {
      position: relative;
      display: inline-block;
      &:not(:last-child) {
        min-width: pxtopercent(200, 1100);
      }

      &:last-child {
        margin-left: auto;
      }
    }
    &__btn {
      position: relative;
      font-size: 40px;
      color: $blueD1;

      &:after {
        font-family: $font-name;
        content: $icon-plus;
        font-size: 26px;
        color:#26BFFF;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-40%, -40%);
        background-color: #fff;
      }
    }
    &__link {
      display: inline-block;
      padding: 10px 0 0 25px;
      font-weight: normal;

      @media only screen  and (max-width : 1140px) {
        padding: 10px 0 0 10px;
      }
      &:before {
        @extend %square-icon;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $greyD2;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        z-index: 2;
      }

      &:hover {
        font-weight: 500;
        &:after {
          border-color: $blueD1;
        }
        &:before {
          border-color: $blueD1;
          background-color: $blueD1;
        }
      }
    }
  }
}
