.title{
	font-weight: 400;
}

%w-100 {
	width: 100%;
}

.form-auth{
	@include flex(column, flex-start);
	@extend %w-100;
	align-items: center;
	&__forgot-pass,
	&__auth-checkbox {
		font-weight: 500;
		margin-top: 10px;
	}

	&__forgot-pass {
		color: $blueD1;
	}

	&__input,
	&__wrap {
		@extend %w-100;
	}

	&__wrap {
		max-width: 320px;
		
		&:not(:last-child) {
			margin-bottom: 25px;
		}

		&--flex {
			@include flex(flex-start, space-between);
			flex-wrap: wrap;
		}
	}
}

.form-auth-footer {
	@include flex-c;

	&__btn {
		width: 256px;
		margin-bottom: 30px;
	}

	&__link {
		font-weight: normal;

	}
}
