.ico {
  @extend %icon;

  &-step-1 {
    font-family: 'Roboto', sans-serif;
    background-image: url('~@/assets/svg/step-1.svg');
  }

  &-step-2 {
    font-family: 'Roboto', sans-serif;
    background-image: url('~@/assets/svg/step-2.svg');
  }
}
