@import 'icons';
%blueD1-color {
  color: $blueD1;
}

.section {
  padding: 80px 0;

  &--bg {
    background: url('~@/assets/img/Mask.png') center no-repeat;
    background-size: cover;
    color: $white;

    @media only screen  and (max-width: 767px) {
      background-image: url('~@/assets/img/mob-bg.png');
    }
  }

  &--lined {
    position: relative;
    &:after {
      @extend %line;
      top: 45px;
    }
  }
  &--team {
    padding: 50px 0;
    border-bottom: none;
  }
  &--blog {
    padding-bottom: 0;
    border-bottom: none;
  }

  &-header {
    position: relative;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 80px;
    &:after {
      content: '';
      @include centX;
      bottom: 0;
      width: 140px;
      height: 2px;
      background-color: $blue;
    }
  }
}

.main-icon {
  position: relative;
  border: 1px solid $greyD2;
  border-radius: 50%;
  &--primary {
    border: none;
    background-image: url('~assets/svg/circle-blue.svg');
  }
}


.holder {
  position: relative;
  &:before {
    @include cent;
    font-family: $font-name;
  }

  &--camera {
    &:before {
      content: $icon-camera;
      font-size: 110px;
    }
  }

  &--video {
    &:before {
      content: $icon-video-holder;
      font-size: 100px;
    }
  }
}

.main-footer {
  .footing__content {
    @extend %wrapper;
  }
}
@media only screen  and (max-width : 1140px) {
  .section,
  .section-about {
    padding: 40px 0;
  }

  .section,
  .section-about,
  .floating-header,
  .about-section {
    .wrapper {
      padding: 0 30px;
    }
  }

  .section--faq {
    padding: 60px 0 70px 0;
  }
}
